ul {
  list-style-type: none;
  padding: 0;
}

.type {
  height: 32px;
}

.table-list {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}
.arma-item:hover {
  background-color: rgba(245, 144, 66, 0.5) !important;
}

.arma-item:hover .name_cn{
  color: white !important;
}
.arma-item:hover .name_jp{
  color: black !important;
}
.arma-item:hover .data{
  color: black !important;
}

th {
  position: sticky;
  top: 0;
}
