body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9),
                                    rgba(0, 0, 0, 0.8),
                                    rgba(0, 0, 0, 0.4)),
    url("../assets/bgDefault.jpg");
  background-position: top center;
  background-size: cover;
}

.title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 3em;
  line-height: 1.5em;
  letter-spacing: 1.5;
  color: white;
}

.subtitle {
  font-size: 2em;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: 1.5;
  color: orange;
}

.white-text {
  color: white;
}

.grid-space {
  margin-left: 100px;
  margin-right: 100px;
}

.mdl-layout__header--transparent {
  color: white;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color: dimgrey;
}
