

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9),
                                    rgba(0, 0, 0, 0.8),
                                    rgba(0, 0, 0, 0.4)),
    url("../assets/bgDefault.jpg");
  background-position: top center;
  background-size: cover;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-corner {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8);
}

/* Text */
.white-text {
  color: white;
}

.grey-text {
  color: grey;
}

.orange-text {
  color: #ffa000;
}

.black-text {
  color: black;
}




/* MDL components */
.mdl-layout__header--transparent {
  color: white;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color: dimgrey;
}


/* Others */
.grid-space {
  margin-left: 100px;
  margin-right: 100px;
}
@media screen and (max-width: 1200px) {
  .grid-space {
    margin-left: 0px;
    margin-right: 0px;
  }
}
