ul {
  list-style-type: none;
  padding: 0;
}

.list li {
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 10px 20px 20px 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.mdl-layout__drawer {
  background-color: rgba(100, 100, 100, 0.4);
  border: 0;
}

.id, .name {
  font-weight: 600;
}

.name_ja {
  font-weight: 100;
  color: grey;
}

.mission_dis {
  font-size: 10px;
  font-weight: 100;
}

.mission_pre {
  position: relative;
  float: right;
  display: inline-block;
}

.prerequisite {
  font-size: 16px;
  font-weight: 600;
}

.description_ja {
  font-weight: 100;
}


.resources_icon {
  text-shadow:1px 1px 10px #fff;
}

.resources_div {
  margin: 10px;
}
