.card-image {
  cursor: pointer;
  margin: 15px;
  display: inline-block;
  width: 384px;
  height: 216px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-color: rgba(255,255,255, 0.7);
}

.user-circle {
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  cursor:pointer;
}

.link-div {
  margin-right: 20px;
  margin-bottom: 20px;
}

.delete-button {
  position: relative;
  top: 5px;
  float: right;
  right: 5px;
}
.delete-button:hover {
  color: red;
}
